<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ingreso</title>
    <link rel="stylesheet" href="./css/login.css">
</head>
<body>
    <div class="login-container">
        <h1>Ingreso</h1>
        <form action="/join" method="post">
            <label for="userName">Username:</label>
            <input type="text" id="userName" name="userName" required>

            <label for="roomId">Room Id:</label>
            <input type="text" id="roomId" name="roomId" required>

            <button type="submit">Join</button>
        </form>
    </div>
</body>
</html>