<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Sala <%= roomId %></title>
    <link rel="stylesheet" href="./css/room.css">
  </head>
  <body>
    <h1>Bienvenido a la sala: <%= roomId %></h1>
    <div id="localVideoContainer">
      <video id="localVideo" autoplay muted></video>
      <div id="localControls">
        <!-- Botones de control -->
        <button onclick="toggleCamera()" id="btnCamara" class="btnCamara">
          <img src="./img/camara.png" alt="icono camara" id="iconoCamara" />
        </button>
        <button onclick="toggleAudio()" id="btnAudio" class="btnAudio">
          <img src="./img/audio.png" alt="icono audio" id="iconoAudio" />
        </button>
        <button onclick="changeMedia()" class="btnScreen">
          <img src="./img/compartir-pantalla.png" alt="" id="buttonScreen" />
        </button>
        <button class="btnFullScreen" id="btnFullScreen">
          <img src="./img/pantalla-completa.png" alt="Pantalla completa" />
        </button>
      </div>
    </div>
    <div id="remoteVideos"></div>

    <!-- Incluir Socket.io y el script del cliente -->
    <script src="/socket.io/socket.io.js"></script>
    <script>
      // Pasar el roomId al cliente
      const roomId = "<%= roomId %>";
    </script>
    <script src="/js/client.js" type="module"></script>
  </body>
</html>
